.glass-card {
    background: rgba(24, 18, 43, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(124, 59, 237, 0.3)
}

.neon-focus:focus {
    box-shadow: 0 0 15px rgba(124, 59, 237, 0.4);
    border-color: #7c3bed;
    outline: none
}

.bg-neural-network {
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCehD_mw9VOzMzz9enX2A9VgYuRJqidjb5czWc3HCfHpIT78npEgec_Wkr9oKkIAjvjvziNXIVBiEv5qO93x2X1DutOSdMk3xR8EsxoeBcEv102BI4QTwBvZlKmDXvanfq7QqbXmT9xFS_qGt9UbbxdF9XLZ7AMEb0vAU4YpIltOgMnaIUs8XLg6ahk2z6eLOhbM4Dg-yW8wmBkyTCG37MtRP3zGTGwtnmg2AFeprJ537RaKn34B22Rz-tgHjJp2K6AyhcVqFYITbXc);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.neural-overlay {
    background: radial-gradient(circle at center, rgba(11, 11, 18, 0.4) 0%, rgba(11, 11, 18, 0.9) 100%)
}